@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,900&display=swap');

$primary: #00a796;
$primary-dark:#026158;
$dark:#1f2732;
$dark-light:#2a343f;
$white:#fff;


